<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to cocktails_path do %>
    <%= cl_image_tag "cocktail_d1prlg", class: "avatar" %>
  <% end %>
  <%= link_to "make a new cocktail", new_cocktail_path %>
</div>
