<div class="container" id="cards">
  <h2 class="text-center">All Cocktails</h2>
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "components/card", cocktail: c %>
        </div>
      <% end %>
    </div>
</div>
